json/[BG] SKHy NW MCP sample.json
{
  "name": "[BG] SKHy NW MCP sample",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a helpful assistant.\nYou can provide appropriate Network Devices commands at the request of the network operator.\n- e.g. Cisco, Extreme Networks, Radware Alteon, Fortigate ..\n\n[How to use tools]\nPlease use the tools in the order below.\n- (Required) Check equipment information based on IP address through NMS API\n- (Optional) Execute additional commands via Telnet or SSH remote access\n\nCurrent datetime is {{ $now.setZone('Asia/Seoul').toString() }}",
          "maxIterations": 10,
          "returnIntermediateSteps": true
        }
      },
      "id": "c21e2810-f7ef-48c6-9c67-26d3efcb3b76",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -656,
        -336
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -592,
        -128
      ],
      "id": "a307f474-cc41-4926-8e25-bd7108f9821b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "anthropic.claude-3-5-sonnet-20240620-v1:0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1,
      "position": [
        -752,
        -144
      ],
      "id": "09590658-c87d-4e3a-83cb-2a37605584b3",
      "name": "AWS Bedrock Chat Model",
      "credentials": {
        "aws": {
          "id": "jutq3YUMCh55v2or",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "function_name"
            },
            {
              "name": "ip_address"
            },
            {
              "name": "oid"
            },
            {
              "name": "command"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        448,
        -160
      ],
      "id": "69f6f961-4935-4fa6-92c4-21356e300fd4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.function_name }}",
                    "rightValue": "snmp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4f5c9014-147a-452d-a054-61a6b6929907"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "888221d4-e342-4d80-ad11-8080d82f4e89",
                    "leftValue": "={{ $json.function_name }}",
                    "rightValue": "ssh",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf3280bc-fe44-4079-b9a4-5ec797ec894a",
                    "leftValue": "={{ $json.function_name }}",
                    "rightValue": "telnet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e0071727-ec18-4460-9e0d-3d7b35153d39",
                    "leftValue": "={{ $json.function_name }}",
                    "rightValue": "nms",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        624,
        -160
      ],
      "id": "40883033-4cc9-4258-af8e-c036e973adc6",
      "name": "Switch"
    },
    {
      "parameters": {
        "description": "name: snmp\ndescription: |\n Executes snmp get command on target ip_address with snmp oid.\nparameters:\n type: object\n properties:\n   ip_address:\n     type: string\n     description: snmp target IP address\n   oid:\n     type: string\n     description: SNMP OID corresponding to the manufacturer of the target equipment\n required:\n   - ip_address\n   - oid",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$workflow.id}}",
          "cachedResultName": "={{$workflow.id}}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "function_name": "snmp",
            "ip_address": "={{ $fromAI('ip_address', `snmp target IP address`, 'string') }}",
            "oid": "={{ $fromAI('oid', `SNMP OID corresponding to the manufacturer of the target equipment`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "function_name",
              "displayName": "function_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ip_address",
              "displayName": "ip_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "oid",
              "displayName": "oid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -64,
        -16
      ],
      "id": "992bc509-589a-4f93-a73a-306a0a82553c",
      "name": "snmp",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "description": "name: ssh\ndescription: |\n Executes ssh command on target ip_address with correct command.\nparameters:\n type: object\n properties:\n   ip_address:\n     type: string\n     description: ssh target IP address\n   command:\n     type: string\n     description: Target equipment manufacturer, appropriate command provided by OS equipment.\n required:\n   - ip_address\n   - command",
        "workflowId": {
          "__rl": true,
          "value": "={{$workflow.id}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "function_name": "ssh",
            "ip_address": "={{ $fromAI('ip_address', `ssh target IP address`, 'string') }}",
            "command": "={{ $fromAI('command', `Target equipment manufacturer, appropriate command provided by OS equipment.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "function_name",
              "displayName": "function_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ip_address",
              "displayName": "ip_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "oid",
              "displayName": "oid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        176,
        -32
      ],
      "id": "d471a2d1-6865-4160-8e0a-87305d2e860b",
      "name": "ssh"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=snmpget -v 2c -c g10ry2HXs3 {{ $json.ip_address }} {{ $json.oid }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        896,
        -432
      ],
      "id": "17dedd46-a2cc-497e-9fa9-75df9bc48da1",
      "name": "SNMP Command1"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p 'SKrhkswp1234!' ssh \\\n  -o StrictHostKeyChecking=no \\\n  -o HostKeyAlgorithms=+ssh-rsa \\\n  aiagent@{{ $json.ip_address }} \"{{ $json.command }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        896,
        -288
      ],
      "id": "b73e5d14-1100-442d-8d90-e9a379cacda3",
      "name": "SSHPASS"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=expect -c '\nset timeout 3\nspawn telnet {{ $json.ip_address }}\nexpect \"Username:\"\nsend \"aiagent\\r\"\nexpect \"Password:\"\nsend \"SKrhkswp1234!\\r\"\nexpect \">\"\nsend \"{{ $json.command }}\\r\"\nexpect \">\"\nsend \"exit\\r\"\nexpect {\n    eof\n    timeout { puts \"⏱ Timed out after exit command\" }\n}\n'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        896,
        -128
      ],
      "id": "8b9b418c-7424-4c3a-98cb-b16e3a59c770",
      "name": "Telnet"
    },
    {
      "parameters": {
        "description": "name: telnet\ndescription: |\n Executes telnet command on target ip_address with correct command.\nparameters:\n type: object\n properties:\n   ip_address:\n     type: string\n     description: telnet target IP address\n   command:\n     type: string\n     description: Target equipment manufacturer, appropriate command provided by OS equipment.\n required:\n   - ip_address\n   - command",
        "workflowId": {
          "__rl": true,
          "value": "={{$workflow.id}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ip_address": "={{ $fromAI('ip_address', `telnet target IP address`, 'string') }}",
            "command": "={{ $fromAI('command', `Target equipment manufacturer, appropriate command provided by OS equipment.`, 'string') }}",
            "function_name": "telnet"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "function_name",
              "displayName": "function_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ip_address",
              "displayName": "ip_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "oid",
              "displayName": "oid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        288,
        -48
      ],
      "id": "9607026e-a0aa-431f-9d59-788b54c733ec",
      "name": "telnet"
    },
    {
      "parameters": {
        "content": "## Custom MCP - SNMP, SSH ....\n",
        "height": 788,
        "width": 2152,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        -464
      ],
      "id": "9a5c9ddc-3b0b-49e4-823d-3bf747492d29",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "description": "name: nms\ndescription: |\n Run the NMS API with the input IP address to compare and analyze the results.\nparameters:\n type: object\n properties:\n   ip_address:\n     type: string\n     description: ip address of the equipment registered in nms\n required:\n   - ip_address",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$workflow.id}}",
          "cachedResultName": "={{$workflow.id}}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ip_address": "={{ $fromAI('ip_address', `snmp target IP address`, 'string') }}",
            "function_name": "nms"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "function_name",
              "displayName": "function_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ip_address",
              "displayName": "ip_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "oid",
              "displayName": "oid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        64,
        48
      ],
      "id": "ddbf219c-67ba-420b-ac74-031fb572b8d0",
      "name": "nms",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ba2e131-8c37-4ddc-b367-15e79dec99c7",
              "name": "=ipaddress",
              "value": "={{ $json.ip_address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        32
      ],
      "id": "a5faa6ac-4925-4f85-bcc2-a85244c1911e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "http://203.235.222.195:9999/api/token/get-token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "accessKey",
              "value": "exZkMzekNVw7DblScyYdzg"
            },
            {
              "name": "secretKey",
              "value": "=OQDaZiiKSquVTn2D3QY7Iqn3FUIbVqV03sgbngN4CpU"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        32
      ],
      "id": "cdc00ef2-eec7-44cc-8d75-6a046401d86b",
      "name": "get-token1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://203.235.222.195:9999/api/config/get-config-info-list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OPENAPI-TOKEN",
              "value": "={{$json[\"token\"]}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "managetypeId",
              "value": "NMS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        32
      ],
      "id": "d84ef454-d45d-4d4c-a7a5-fbf967b778e2",
      "name": "get-config-info-list1"
    },
    {
      "parameters": {
        "jsCode": "const token =$node[\"get-token1\"].json.token;\n// 1) 비교 대상 (이전 Set/Function 노드명과 키는 실제 워크플로우에 맞게 수정)\nconst targetIp = $node[\"Edit Fields\"].json.ipaddress;   // 예: \"10.0.0.1\"\n// (필요시) const targetName = $node[\"Set1\"].json.hostname;\n\n// 2) HTTP Request 노드의 모든 출력 아이템을 가져와 통일된 배열로 정규화\nconst httpItems = $items(\"get-config-info-list1\");  // 노드명 정확히!\nlet apiArray = [];\n\n// Split Into Items OFF → 보통 1개 아이템만 나옴\n// Split Into Items ON  → 응답 배열의 각 요소가 개별 아이템으로 나옴\nif (httpItems.length === 1) {\n  const body = httpItems[0].json;\n  if (Array.isArray(body)) {\n    apiArray = body;                 // 응답이 직접 배열\n  } else if (body && Array.isArray(body.data)) {\n    apiArray = body.data;            // 응답이 { data: [...] }\n  } else if (body && typeof body === 'object') {\n    apiArray = [body];               // 단일 객체\n  } else {\n    apiArray = [];                   // 예상치 못한 형태\n  }\n} else {\n  // Split Into Items가 ON인 경우: 각 아이템의 json이 한 레코드\n  apiArray = httpItems.map(i => i.json);\n}\n\n// 3) 매칭 탐색 (IP만 비교; 필요시 && rec.objName === targetName 추가)\nlet matched = null;\nfor (const rec of apiArray) {\n  if (rec && rec.ipaddress === targetIp /* && rec.objName === targetName */) {\n    matched = rec;   // 매칭된 \"전체 객체\" 리턴\n    break;\n  }\n}\n\n// 4) 결과 반환: 매칭되면 전체 객체, 없으면 메시지\nif (matched) {\n  // return [{ json: matched }];\n  return [\n    {\n      json: {\n        objId: matched.objId,\n        token: token\n      }\n    }\n  ];\n} else {\n  return [{\n    json: {\n      message: \"일치하는 결과 없음\",\n      targetIp,\n      totalScanned: apiArray.length\n    }\n  }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        32
      ],
      "id": "39d540d0-eea5-475f-8288-accdcaadcc2a",
      "name": "Code1"
    },
    {
      "parameters": {
        "url": "http://203.235.222.195:9999/api/config/get-config-info-basic",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "objId",
              "value": "={{ $json[\"objId\"]}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OPENAPI-TOKEN",
              "value": "={{$json[\"token\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        32
      ],
      "id": "e5e94140-2df7-4d90-88bc-0827edbff916",
      "name": "get-config-info-basic"
    },
    {
      "parameters": {
        "endpointUrl": "https://n8n-workportal.cloudz.co.kr/mcp/nw-tools",
        "serverTransport": "httpStreamable",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -432,
        -144
      ],
      "id": "2931cc20-dc05-483e-a8e6-cd1d203d404b",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "path": "nw-tools"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        -64,
        -256
      ],
      "id": "603b80ff-6835-4d92-a13b-d8fcea68dd32",
      "name": "MCP Server Trigger",
      "webhookId": "3a2a0777-e54a-43ba-8941-d1b59a5057f9"
    },
    {
      "parameters": {
        "content": "## Playground",
        "height": 496,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        -464
      ],
      "typeVersion": 1,
      "id": "5be03ada-e5ba-4b78-99f9-7d778ac2c608",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -832,
        -336
      ],
      "id": "f39d3886-a4c1-4f47-b224-1a49eca55bda",
      "name": "When chat message received",
      "webhookId": "07dab6de-a849-4dca-b71b-5de24be359c7"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "SNMP Command1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SSHPASS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telnet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ssh": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "telnet": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "nms": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "get-token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-token1": {
      "main": [
        [
          {
            "node": "get-config-info-list1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-config-info-list1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "get-config-info-basic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "snmp": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "40c80b90-e2be-428a-956e-92c4dad8012c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32c9d8e95c2b9debd6ab12f81b4fa4dc74869c3279c38e59801467d9d94f29c0"
  },
  "id": "4AvFMLeQhWTvowIq",
  "tags": []
}